.my-clients-block__all-text-block {
    padding: 30px 20px 0px;
    @include display-flex;
    gap: 30px;
    border-bottom: 1px solid $block-title-colour;
    & div:last-child {
        border-bottom: none;
    }

    @media screen and (min-width: 768px) {
        padding: 30px 30px 30px;
    }

    @media screen and (min-width: 1200px) {
        gap: 50px;
        padding: 50px 70px 50px;
    }

}

.my-clients-block__all-cards {
    display: block;

    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.my-clients-block__title {
    @include block-title
}

.my-clients-block__card-container {
    padding-top: 40px;
    padding-bottom: 40px;
    @include display-flex;
    gap: 30px;
    border-bottom: 1px solid $block-title-colour;

    @media screen and (min-width: 1200px) {
        padding: 30px;
        justify-content: space-between;
        border-bottom: none;
    }
}

.my-clients-block__card-container.card-container1 {
    @media screen and (min-width: 1200px) {
        border-right: 1px solid $block-title-colour;
        border-bottom: 1px solid $block-title-colour;
    }
}

.my-clients-block__card-container.card-container2 {
    @media screen and (min-width: 1200px) {
        border-right: 1px solid $block-title-colour;
        border-bottom: 1px solid $block-title-colour;
    }
}

.my-clients-block__card-container.card-container3 {
    @media screen and (min-width: 1200px) {
        border-bottom: 1px solid $block-title-colour;
    }
}

.my-clients-block__card-container.card-container4 {
    @media screen and (min-width: 1200px) {
        border-right: 1px solid $block-title-colour;
        border-top: 1px solid $block-title-colour;
    }
}

.my-clients-block__card-container.card-container5 {
    @media screen and (min-width: 1200px) {
        border-right: 1px solid $block-title-colour;
        border-top: 1px solid $block-title-colour;
    }
}

.my-clients-block__card-container.card-container6 {
    @media screen and (min-width: 1200px) {
        border-bottom: 1px solid $block-title-colour;
    }
}

.card-container__card-logo {
    width: 180px;
    height: 35px;
}

.card-container__card-logo1 {
    width: 150px;
    height: 35px;
}

.card-container__card-logo2 {
    width: 151px;
    height: 34px;
}

.card-container__card-logo3 {
    width: 174px;
    height: 35px;
}

.card-container__card-logo4 {
    width: 84px;
    height: 40px;
}

.card-container__card-logo5 {
    width: 150px;
    height: 35px;
}



.card-container__card-title {
    color: #333;
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
}

.card-container__text-description {
    color: $block-title-colour;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.card-container__client-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    & img {
        width: 70px;
        height: 70px;
        border-radius: 50px;

    }
}

.card-container__client-info {
    @include display-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.card-container__client-name {
    color: $block-title-colour;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.card-container__client-job-title {
    color: $block-title-colour;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}